*.pyc
*.pyo
*~
*.swp
*.swo
*.log
*.bat
*ss.txt
esky/tests/dist
esky/tests/build
esky/tests/deploy*
esky/tests/patch-test-temp
esky/tests/eskytester.egg-info
esky/eskytester.egg-info
build/
dist/
tutorial/*/dist
esky/bdist_esky/bootstrap_*
.idea/
esky.egg-info
.rst
